DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/shopedeal"
REDIS_URL="redis://localhost:6379"
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
SHOPEE_AFFILIATE_ID=""
SHOPEE_AFFILIATE_BASE_URL=""
OPENAI_API_KEY=""
